# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker files
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (Build output)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
SATzillaX
SATzillaX.exe
SATzillaX_sanitized.exe

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.vcxproj
*.filters

# OS files
.DS_Store
Thumbs.db

# Temporary/Backup files
*~
*.swp
*.tmp
